content-repurposing-engine/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a9167412-6bce-434c-bb74-6bf462c826aa",
      "name": "When clicking ‘Execute workflow’",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Get the article text from the previous step\nconst rawText = $json.article_text || $json.body || $json.text || \"\";\n\n// Remove HTML tags (like <p>, <h1>, <br> etc)\nconst cleanText = rawText\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Send the clean text to the next node\nreturn { article_text: cleanText };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "ba8b6f9d-8384-4aa5-9240-3a2525ffaedd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        496,
        16
      ],
      "id": "7329d693-ca60-4b51-958b-f3be8617aeea",
      "name": "When chat message received",
      "webhookId": "b936faa5-18c9-4faa-829a-91cbf2bc590b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.article_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Act as an expert growth copywriter. Analyze the provided text payload. Generate exactly three custom distribution assets matching these constraints:  1. LinkedIn Post: Focus on industry authority, start with a high-retention hook line, omit emojis, use clear structural line breaks.  2. X/Twitter Thread: A cohesive 3-part micro-thread driving down a single core argument with explicit call-to-actions.  3. Email Newsletter Teaser: A conversational, high-open-rate introductory paragraph designed to build immediate curiosity.  Format your response EXACTLY like this: ---LINKEDIN--- [LinkedIn post here] ---TWITTER--- [Tweet 1] [Tweet 2] [Tweet 3] ---EMAIL--- [Email teaser here]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        -80
      ],
      "id": "bbc2b7e5-fee6-41cd-a3db-fa9e3f5188ce",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// Get Gemini's response text\nconst raw = $json.text || $json.content || $json.message || $json.output || \"\";\n\n// Split into three sections using our markers\nconst linkedin = raw.split('---LINKEDIN---')[1]?.split('---TWITTER---')[0]?.trim() || \"LinkedIn content not found\";\nconst twitter  = raw.split('---TWITTER---')[1]?.split('---EMAIL---')[0]?.trim() || \"Twitter content not found\";\nconst email    = raw.split('---EMAIL---')[1]?.trim() || \"Email content not found\";\n\n// Return all three as separate labelled outputs\nreturn {\n  linkedin_post:    linkedin,\n  twitter_thread:   twitter,\n  email_teaser:     email,\n  generated_at:     new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -80
      ],
      "id": "5e8cdb31-4dd4-48c7-b38d-db7031814133",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        128
      ],
      "id": "37b42dda-6eb7-4f87-8e95-4d28c2286551",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "AaqTAUvMlUf9m7AX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "faisalmrasul13@gmail.com",
        "subject": "Agentic AI Brief – LinkedIn, Twitter (X), and Gmail Summaries",
        "message": "=Dear Sir,  Please find the attached AI-generated summaries for the article/paper, tailored for LinkedIn, Twitter (X), and Gmail. Source Article/Paper: [AI Overview by wikipedia] 📧 EMAIL TEASER: {{ $json.email_teaser }} --- 💼 LINKEDIN POST: {{ $json.linkedin_post }} --- 🐦 TWITTER THREAD: {{ $json.twitter_thread }}  Best regards, Faisal",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -80
      ],
      "id": "0c7c3fda-dbcd-4bd6-af97-ce14838cdca6",
      "name": "Send a message",
      "webhookId": "425e16e2-d679-4a9f-9c0d-b533678ab389",
      "credentials": {
        "gmailOAuth2": {
          "id": "nzQhl068ROlzX846",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "article_text": "Artificial intelligence\r\n\r\nArticle\r\nTalk\r\nRead\r\nView source\r\nView history\r\n\r\nTools\r\nAppearance hide\r\nText\r\n\r\nSmall\r\n\r\nStandard\r\n\r\nLarge\r\nWidth\r\n\r\nStandard\r\n\r\nWide\r\nColor\r\n\r\nAutomatic\r\n\r\nLight\r\n\r\nDark\r\nPage semi-protected\r\nFrom Wikipedia, the free encyclopedia\r\n\"AI\" redirects here. For other uses, see AI (disambiguation) and Artificial intelligence (disambiguation).\r\nPart of a series on\r\nArtificial intelligence (AI)\r\nMajor goals\r\nApproaches\r\nApplications\r\nPhilosophy\r\nHistory\r\nControversies\r\nGlossary\r\nvte\r\nArtificial intelligence (AI) is the capability of computational systems to perform tasks typically associated with human intelligence, such as learning, reasoning, problem-solving, perception, and decision-making. It is a field of research in engineering, mathematics and computer science that develops and studies methods and software that enable machines to perceive their environment and use learning and intelligence to take actions that maximize their chances of achieving defined goals.[1]\r\n\r\nHigh-profile applications of AI include advanced web search engines, chatbots, virtual assistants, autonomous vehicles, and play and analysis in strategy games (e.g., chess and Go). Since the 2020s, generative AI has become widely available to generate images, audio, and videos from text prompts.\r\n\r\nThe traditional goals of AI research include learning, reasoning, knowledge representation, planning, natural language processing, and perception, as well as support for robotics.[a] To reach these goals, AI researchers have used techniques including state space search and mathematical optimization, formal logic, artificial neural networks, and methods based on statistics, operations research, and economics.[b] AI also draws upon psychology, linguistics, philosophy, neuroscience, and other fields.[2] Some companies, such as OpenAI, Google DeepMind and Meta, aim to create artificial general intelligence (AGI) – AI that can complete virtually any cognitive task at least as well as a human.[3]\r\n\r\nArtificial intelligence was founded as an academic discipline in 1956,[4] and the field went through multiple cycles of optimism throughout its history,[5][6] followed by periods of disappointment and loss of funding, known as AI winters.[7][8] Funding and interest increased substantially after 2012, when graphics processing units began being used to accelerate neural networks, and deep learning outperformed previous AI techniques.[9] This growth accelerated further after 2017 with the transformer architecture.[10] In the 2020s, an AI boom has coincided with advances in generative AI, which allowed for the creation and modification of media. In addition to AI safety and unintended consequences and harms from the use of AI, ethical concerns, AI's long-term effects, and potential existential risks have prompted discussions of AI regulation.\r\n\r\nGoals\r\nThe general problem of simulating (or creating) intelligence has been broken into subproblems. These consist of particular traits or capabilities that researchers expect an intelligent system to display. The traits described below have received the most attention and cover the scope of AI research.[a]\r\n\r\nReasoning and problem-solving\r\nEarly researchers developed algorithms that imitated step-by-step reasoning that humans use when they solve puzzles or make logical deductions.[11] By the late 1980s and 1990s, methods were developed for dealing with uncertain or incomplete information, employing concepts from probability and economics.[12]\r\n\r\nMany of these algorithms are insufficient for solving large reasoning problems because they experience a \"combinatorial explosion\": They become exponentially slower as the problems grow.[13] Even humans rarely use the step-by-step deduction that early AI research could model. They solve most of their problems using fast, intuitive judgments.[14] Accurate and efficient reasoning is an unsolved problem.\r\n\r\nKnowledge representation\r\n\r\nAn ontology represents knowledge as a set of concepts within a domain and the relationships between those concepts.\r\nKnowledge representation and knowledge engineering[15] allow AI programs to answer questions intelligently and make deductions about real-world facts. Formal knowledge representations are used in content-based indexing and retrieval,[16] scene interpretation,[17] clinical decision support,[18] knowledge discovery (mining \"interesting\" and actionable inferences from large databases),[19] and other areas.[20]\r\n\r\nA knowledge base is a body of knowledge represented in a form that can be used by a program. An ontology is the set of objects, relations, concepts, and properties used by a particular domain of knowledge.[21] Knowledge bases need to represent things such as objects, properties, categories, and relations between objects;[22] situations, events, states, and time;[23] causes and effects;[24] knowledge about knowledge (what we know about what other people know);[25] default reasoning (things that humans assume are true until they are told differently and will remain true even when other facts are changing);[26] and many other aspects and domains of knowledge.\r\n\r\nAmong the most difficult problems in knowledge representation are the breadth of commonsense knowledge (the set of atomic facts that the average person knows is enormous);[27] and the sub-symbolic form of most commonsense knowledge (much of what people know is not represented as \"facts\" or \"statements\" that they could express verbally).[14] There is also the difficulty of knowledge acquisition, the problem of obtaining knowledge for AI applications.[c]\r\n\r\nPlanning and decision-making\r\nAn \"agent\" is any entity (artificial or not) that perceives and takes actions in the world. A rational agent has goals or preferences and takes actions to make them happen.[d][30] In automated planning, the agent has a specific goal.[31] In automated decision-making, the agent has preferences—there are some situations it would prefer to be in, and some situations it is trying to avoid. The decision-making agent assigns a number to each situation (called the \"utility\") that measures how much the agent prefers it. For each possible action, it can calculate the \"expected utility\": the utility of all possible outcomes of the action, weighted by the probability that the outcome will occur. It can then choose the action with the maximum expected utility.[32]\r\n\r\nIn classical planning, the agent knows exactly what the effect of any action will be.[33] In most real-world problems, however, the agent may not be certain about the situation it is in (it is \"unknown\" or \"unobservable\") and it may not know for certain what will happen after each possible action (it is not \"deterministic\"). It must choose an action by making a probabilistic guess and then reassess the situation to see if the action worked.[34]\r\n\r\nAlongside thorough testing and improvement based on previous decisions, having an explanation for why the agent took certain decisions is a way to build trust, especially when the decisions have to be relied upon.[35]\r\n\r\nIn some problems, the agent's preferences may be uncertain, especially if there are other agents or humans involved. These can be learned (e.g., with inverse reinforcement learning), or the agent can seek information to improve its preferences.[36] Information value theory can be used to weigh the value of exploratory or experimental actions.[37] The space of possible future actions and situations is typically intractably large, so the agents must take actions and evaluate situations while being uncertain of what the outcome will be.\r\n\r\nA Markov decision process has a transition model that describes the probability that a particular action will change the state in a particular way and a reward function that supplies the utility of each state and the cost of each action. A policy associates a decision with each possible state. The policy could be calculated (e.g., by iteration), be heuristic, or it can be learned.[38]\r\n\r\nGame theory describes the rational behavior of multiple interacting agents and is used in AI programs that make decisions that involve other agents.[39]\r\n\r\nLearning\r\nMachine learning is the study of programs that can improve their performance on a given task automatically.[40] It has been a part of AI from the beginning.[e]\r\n\r\n\r\nIn supervised learning, the training data is labelled with the expected answers, while in unsupervised learning, the model identifies patterns or structures in unlabelled data.\r\nThere are several kinds of machine learning. Unsupervised learning analyzes a stream of data and finds patterns and makes predictions without any other guidance.[43] Supervised learning requires labeling the training data with the expected answers, and comes in two main varieties: classification (where the program must learn to predict what category the input belongs in) and regression (where the program must deduce a numeric function based on numeric input).[44]\r\n\r\nIn reinforcement learning, the agent is rewarded for good responses and punished for bad ones. The agent learns to choose responses that are classified as \"good\".[45] Transfer learning is when the knowledge gained from one problem is applied to a new problem.[46] Deep learning is a type of machine learning that runs inputs through biologically inspired artificial neural networks for all of these types of learning.[47]\r\n\r\nComputational learning theory can assess learners by computational complexity, by sample complexity (how much data is required), or by other notions of optimization.[48]\r\n\r\nNatural language processing\r\nNatural language processing (NLP) allows programs to read, write and communicate in human languages.[49] Specific problems include speech recognition, speech synthesis, machine translation, information extraction, information retrieval and question answering.[50]\r\n\r\nEarly work, based on Noam Chomsky's generative grammar and semantic networks, had difficulty with word-sense disambiguation[f] unless restricted to small domains called \"micro-worlds\" (due to the common sense knowledge problem[27]). Margaret Masterman believed that it was meaning and not grammar that was the key to understanding languages, and that thesauri and not dictionaries should be the basis of computational language structure.\r\n\r\nModern deep learning techniques for NLP include word embedding (representing words, typically as vectors encoding their meaning),[51] transformers (a deep learning architecture using an attention mechanism),[52] and others.[53] In 2019, generative pre-trained transformer (or \"GPT\") language models began to generate coherent text,[54][55] and by 2023, these models were able to get human-level scores on the bar exam, SAT test, GRE test, and many other real-world applications.[56]\r\n\r\nPerception\r\nMachine perception is the ability to use input from sensors (such as cameras, microphones, wireless signals, active lidar, sonar, radar, and tactile sensors) to deduce aspects of the world. Computer vision is the ability to analyze visual input.[57]\r\n\r\nThe field includes speech recognition,[58] image classification,[59] facial recognition, object recognition,[60] object tracking,[61] and robotic perception.[62]\r\n\r\nSocial intelligence\r\n\r\nKismet, a robot head made in the 1990s, is a machine that can recognize and simulate emotions.[63]\r\nAffective computing is a field that comprises systems that recognize, interpret, process, or simulate human feeling, emotion, and mood.[64] For example, some virtual assistants are programmed to speak conversationally or even to banter humorously; it makes them appear more sensitive to the emotional dynamics of human interaction, or to otherwise facilitate human–computer interaction.\r\n\r\nHowever, this tends to give naïve users an unrealistic conception of the intelligence of existing computer agents.[65] Moderate successes related to affective computing include textual sentiment analysis and, more recently, multimodal sentiment analysis, wherein AI classifies the effects displayed by a videotaped subject.[66]\r\n\r\nGeneral intelligence\r\nA machine with artificial general intelligence would be able to solve a wide variety of problems with breadth and versatility similar to human intelligence.[67]\r\n\r\nTechniques\r\nAI research uses a wide variety of techniques to accomplish the goals above.[b]\r\n\r\nSearch and optimization\r\nThere are two different kinds of search used in AI: state space search and local search:\r\n\r\nState space search\r\nState space search searches through a tree of possible states to try to find a goal state.[68] For example, planning algorithms search through trees of goals and subgoals, attempting to find a path to a target goal, a process called means-ends analysis.[69]\r\n\r\nSimple exhaustive searches[70] are rarely sufficient for most real-world problems: the search space (the number of places to search) quickly grows to astronomical numbers. The result is a search that is too slow or never completes.[13] \"Heuristics\" or \"rules of thumb\" can help prioritize choices that are more likely to reach a goal.[71]\r\n\r\nAdversarial search is used for game-playing programs, such as chess or Go. It searches through a tree of possible moves and countermoves, looking for a winning position.[72]\r\n\r\nLocal search\r\n\r\nIllustration of gradient descent for three different starting points; two parameters (represented by the plan coordinates) are adjusted in order to minimize the loss function (the height).\r\nLocal search uses mathematical optimization to find a solution to a problem. It begins with some form of guess and refines it incrementally.[73]\r\n\r\nGradient descent is a type of local search that optimizes a set of numerical parameters by incrementally adjusting them to minimize a loss function. Variants of gradient descent are commonly used to train neural networks,[74] through the backpropagation algorithm.\r\n\r\nAnother type of local search is evolutionary computation, which aims to iteratively improve a set of candidate solutions by \"mutating\" and \"recombining\" them, selecting only the fittest to survive each generation.[75]\r\n\r\nDistributed search processes can coordinate via swarm intelligence algorithms. Two popular swarm algorithms used in search are particle swarm optimization (inspired by bird flocking) and ant colony optimization (inspired by ant trails).[76]\r\n\r\nLogic\r\nFormal logic is used for reasoning and knowledge representation.[77] Formal logic comes in two main forms: propositional logic (which operates on statements that are true or false and uses logical connectives such as \"and\", \"or\", \"not\" and \"implies\")[78] and predicate logic (which also operates on objects, predicates and relations and uses quantifiers such as \"Every X is a Y\" and \"There are some Xs that are Ys\").[79]\r\n\r\nDeductive reasoning in logic is the process of proving a new statement (conclusion) from other statements that are given and assumed to be true (the premises).[80] Proofs can be structured as proof trees, in which nodes are labelled by sentences, and children nodes are connected to parent nodes by inference rules.\r\n\r\nGiven a problem and a set of premises, problem-solving reduces to searching for a proof tree whose root node is labelled by a solution of the problem and whose leaf nodes are labelled by premises or axioms. In the case of Horn clauses, problem-solving search can be performed by reasoning forwards from the premises or backwards from the problem.[81] In the more general case of the clausal form of first-order logic, resolution is a single, axiom-free rule of inference, in which a problem is solved by proving a contradiction from premises that include the negation of the problem to be solved.[82]\r\n\r\nInference in both Horn clause logic and first-order logic is undecidable, and therefore intractable. However, backward reasoning with Horn clauses, which underpins computation in the logic programming language Prolog, is Turing complete. Moreover, its efficiency is competitive with computation in other symbolic programming languages.[83]\r\n\r\nFuzzy logic assigns a \"degree of truth\" between 0 and 1. It can therefore handle propositions that are vague and partially true.[84]\r\n\r\nNon-monotonic logics, including logic programming with negation as failure, are designed to handle default reasoning.[26] Other specialized versions of logic have been developed to describe many complex domains.\r\n\r\nProbabilistic methods for uncertain reasoning\r\n\r\nA simple Bayesian network, with the associated conditional probability tables\r\nMany problems in AI (including reasoning, planning, learning, perception, and robotics) require the agent to operate with incomplete or uncertain information. AI researchers have devised a number of tools to solve these problems using methods from probability theory and economics.[85] Precise mathematical tools have been developed that analyze how an agent can make choices and plan, using decision theory, decision analysis,[86] and information value theory.[87] These tools include models such as Markov decision processes,[88] dynamic decision networks,[89] game theory and mechanism design.[90]\r\n\r\nBayesian networks[91] are a tool that can be used for reasoning (using the Bayesian inference algorithm),[g][93] learning (using the expectation–maximization algorithm),[h][95] planning (using decision networks)[96] and perception (using dynamic Bayesian networks).[89]\r\n\r\nProbabilistic algorithms can also be used for filtering, prediction, smoothing, and finding explanations for streams of data, thus helping perception systems analyze processes that occur over time (e.g., hidden Markov models or Kalman filters).[89]\r\n\r\n\r\nExpectation–maximization clustering of Old Faithful eruption data starts from a random guess but then successfully converges on an accurate clustering of the two physically distinct modes of eruption.\r\nClassifiers and statistical learning methods\r\nThe simplest AI applications can be divided into two types: classifiers (e.g., \"if shiny then diamond\"), on one hand, and controllers (e.g., \"if diamond then pick up\"), on the other hand. Classifiers[97] are functions that use pattern matching to determine the closest match. They can be fine-tuned based on chosen examples using supervised learning. Each pattern (also called an \"observation\") is labeled with a certain predefined class. All the observations combined with their class labels are known as a data set. When a new observation is received, that observation is classified based on previous experience.[44]\r\n\r\nThere are many kinds of classifiers in use.[98] The decision tree is the simplest and most widely used symbolic machine learning algorithm.[99] K-nearest neighbor algorithm was the most widely used analogical AI until the mid-1990s, and Kernel methods such as the support vector machine (SVM) displaced k-nearest neighbor in the 1990s.[100] The naive Bayes classifier is reportedly the \"most widely used learner\"[101] at Google, due in part to its scalability.[102] Neural networks are also used as classifiers.[103]\r\n\r\nArtificial neural networks\r\n\r\nA neural network is an interconnected group of nodes, akin to the vast network of neurons in the human brain.\r\nAn artificial neural network is based on a collection of nodes also known as artificial neurons, which loosely model the neurons in a biological brain. It is trained to recognise patterns; once trained, it can recognise those patterns in fresh data. There is an input, at least one hidden layer of nodes and an output. Each node applies a function and once the weight crosses its specified threshold, the data is transmitted to the next layer. A network is typically called a deep neural network if it has at least 2 hidden layers.[103]\r\n\r\nLearning algorithms for neural networks use local search to choose the weights that will get the right output for each input during training. The most common training technique is the backpropagation algorithm.[104] Neural networks learn to model complex relationships between inputs and outputs and find patterns in data. In theory, a neural network can learn any function.[105]\r\n\r\nIn feedforward neural networks the signal passes in only one direction.[106] The term perceptron typically refers to a single-layer neural network.[107] In contrast, deep learning uses many layers.[108] Recurrent neural networks (RNNs) feed the output signal back into the input, which allows short-term memories of previous input events. Long short-term memory networks (LSTMs) are recurrent neural networks that better preserve longterm dependencies and are less sensitive to the vanishing gradient problem.[109] Convolutional neural networks (CNNs) use layers of kernels to more efficiently process local patterns. This local processing is especially important in image processing, where the early CNN layers typically identify simple local patterns such as edges and curves, with subsequent layers detecting more complex patterns like textures, and eventually whole objects.[110]\r\n\r\nDeep learning\r\n\r\nDeep learning is a subset of machine learning, which is itself a subset of artificial intelligence.[111]\r\nDeep learning uses several layers of neurons between the network's inputs and outputs.[108] The multiple layers can progressively extract higher-level features from the raw input. For example, in image processing, lower layers may identify edges, while higher layers may identify the concepts relevant to a human such as digits, letters, or faces.[112]\r\n\r\nDeep learning has profoundly improved the performance of programs in many important subfields of artificial intelligence, including computer vision, speech recognition, natural language processing, image classification,[113] and others. The reason that deep learning performs so well in so many applications is not known as of 2021.[114] The sudden success of deep learning in 2012–2015 did not occur because of some new discovery or theoretical breakthrough (deep neural networks and backpropagation had been described by many people, as far back as the 1950s)[i] but because of two factors: the increase in computer power (including the hundred-fold increase in speed by switching to GPUs) and the availability of vast amounts of training data, especially the giant curated datasets used for benchmark testing, such as ImageNet.[j]\r\n\r\nGPT\r\nGenerative pre-trained transformers (GPT) are large language models (LLMs) that generate text based on the semantic relationships between words in sentences. Text-based GPT models are pre-trained on a large corpus of text that can be from the Internet. The pretraining consists of predicting the next token (a token being usually a word, subword, or punctuation). Throughout this pretraining, GPT models accumulate knowledge about the world and can then generate human-like text by repeatedly predicting the next token. Typically, a subsequent training phase makes the model more truthful, useful, and harmless, usually with a technique called reinforcement learning from human feedback (RLHF). Current GPT models are prone to generating falsehoods called \"hallucinations\". These can be reduced with RLHF and quality data, but the problem has been getting worse for reasoning systems.[122] Such systems are used in chatbots, which allow people to ask a question or request a task in simple text.[123][124]\r\n\r\nCurrent models and services include ChatGPT, Claude, Gemini, Copilot, and Meta AI.[125] Multimodal GPT models can process different types of data (modalities) such as images, videos, sound, and text.[126]\r\n\r\nHardware and software\r\nMain articles: Programming languages for artificial intelligence and Hardware for artificial intelligence\r\n\r\nRaspberry Pi AI Kit\r\nIn the late 2010s, graphics processing units (GPUs) that were increasingly designed with AI-specific enhancements and used with specialized TensorFlow software had replaced previously used central processing unit (CPUs) as the dominant means for large-scale (commercial and academic) machine learning models' training.[127] Specialized programming languages such as Prolog were used in early AI research,[128] but general-purpose programming languages like Python have become predominant.[129]\r\n\r\nThe transistor density in integrated circuits has been observed to roughly double every 18 months—a trend known as Moore's law, named after the Intel co-founder Gordon Moore, who first identified it. Improvements in GPUs have been even faster,[130] a trend sometimes called Huang's law,[131] named after Nvidia co-founder and CEO Jensen Huang.\r\n\r\nApplications\r\nMain article: Applications of artificial intelligence\r\n\r\nAI Overviews, an example of AI use on search engines\r\nAI and machine learning technology is used in most of the essential applications of the 2020s, including:\r\n\r\nsearch engines (such as Google Search)\r\ntargeting online advertisements\r\nrecommendation systems (offered by Netflix, YouTube or Amazon) driving internet traffic\r\ntargeted advertising (AdSense, Facebook)\r\nvirtual assistants (such as Siri or Alexa)\r\nautonomous vehicles (including drones, ADAS and self-driving cars)\r\nautomatic language translation (Microsoft Translator, Google Translate)\r\nfacial recognition (Apple's FaceID or Microsoft's DeepFace and Google's FaceNet)\r\nimage labeling (used by Facebook, Apple's Photos and TikTok).\r\nThe deployment of AI may be overseen by a chief automation officer (CAO).\r\n\r\nHealth and medicine\r\nMain article: Artificial intelligence in healthcare\r\nIt has been suggested that AI can overcome discrepancies in funding allocated to different fields of research.[132]\r\n\r\nAlphaFold 2 (2021) demonstrated the ability to approximate, in hours rather than months, the 3D structure of a protein.[133] In 2023, it was reported that AI-guided drug discovery helped find a class of antibiotics capable of killing two different types of drug-resistant bacteria.[134] In 2024, researchers used machine learning to accelerate the search for Parkinson's disease drug treatments. Their aim was to identify compounds that block the clumping, or aggregation, of alpha-synuclein (the protein that characterises Parkinson's disease). They were able to speed up the initial screening process ten-fold and reduce the cost by a thousand-fold.[135][136]\r\n\r\nGaming\r\nMain article: Artificial intelligence in video games\r\nGame playing programs have been used since the 1950s to demonstrate and test AI's most advanced techniques.[137] Deep Blue became the first computer chess-playing system to beat a reigning world chess champion, Garry Kasparov, on 11 May 1997.[138] In 2011, in a Jeopardy! quiz show exhibition match, IBM's question answering system, Watson, defeated the two greatest Jeopardy! champions, Brad Rutter and Ken Jennings, by a significant margin.[139] In March 2016, AlphaGo won 4 out of 5 games of Go in a match with Go champion Lee Sedol, becoming the first computer Go-playing system to beat a professional Go player without handicaps. Then, in 2017, it defeated Ke Jie, who was the best Go player in the world.[140] Other programs handle imperfect-information games, such as the poker-playing program Pluribus.[141] DeepMind developed increasingly generalistic reinforcement learning models, such as with MuZero, which could be trained to play chess, Go, or Atari games.[142] In 2019, DeepMind's AlphaStar achieved grandmaster level in StarCraft II, a particularly challenging real-time strategy game that involves incomplete knowledge of what happens on the map.[143] In 2021, an AI agent competed in a PlayStation Gran Turismo competition, winning against four of the world's best Gran Turismo drivers using deep reinforcement learning.[144] In 2024, Google DeepMind introduced SIMA, a type of AI capable of autonomously playing nine previously unseen open-world video games by observing screen output, as well as executing short, specific tasks in response to natural language instructions.[145]\r\n\r\nMathematics\r\nIn mathematics, probabilistic large language models are versatile, but can also produce wrong answers in the form of hallucinations. The Alibaba Group developed a version of its Qwen models called Qwen2-Math, that achieved state-of-the-art performance on several mathematical benchmarks, including 84% accuracy on the MATH dataset of competition mathematics problems.[146] In January 2025, Microsoft proposed the technique rStar-Math that leverages Monte Carlo tree search and step-by-step reasoning, enabling a relatively small language model like Qwen-7B to solve 53% of the AIME 2024 and 90% of the MATH benchmark problems.[147] Google DeepMind has developed models for solving mathematical problems: AlphaTensor, AlphaGeometry, AlphaProof and AlphaEvolve.[148][149]\r\n\r\nWhen natural language is used to describe mathematical problems, converters can transform such prompts into a formal language such as Lean to define mathematical tasks. The experimental model Gemini Deep Think accepts natural language prompts directly and achieved gold medal results in the International Math Olympiad of 2025.[150]\r\n\r\nTopological deep learning integrates various topological approaches.\r\n\r\nFinance\r\nAccording to Nicolas Firzli, director of the World Pensions & Investments Forum, it may be too early to see the emergence of highly innovative AI-informed financial products and services. He argues that \"the deployment of AI tools will simply further automatise things: destroying tens of thousands of jobs in banking, financial planning, and pension advice in the process, but I'm not sure it will unleash a new wave of [e.g., sophisticated] pension innovation.\"[151]\r\n\r\nMilitary\r\nMain article: Military applications of artificial intelligence\r\nVarious countries are deploying AI military applications.[152] The main applications enhance command and control, communications, sensors, integration and interoperability.[153] Research is targeting intelligence collection and analysis, logistics, cyber operations, information operations, and semiautonomous and autonomous vehicles.[152] AI technologies enable coordination of sensors and effectors, threat detection and identification, marking of enemy positions, target acquisition, coordination and deconfliction of distributed Joint Fires between networked combat vehicles, both human-operated and autonomous.[153]\r\n\r\nAI has been used in military operations in Iraq, Syria, Israel and Ukraine.[152][154][155][156]\r\n\r\nGenerative AI\r\nThese paragraphs are an excerpt from Generative AI.[edit]\r\nGenerative artificial intelligence (GenAI) is a subfield of artificial intelligence (AI) that uses generative models to generate text, images, videos, audio, software code (vibe coding) or other forms of data.[157] These models learn the underlying patterns and structures of their training data, and use them to generate new data[158] in response to input, which often takes the form of natural language prompts.[159][160]\r\n\r\nThe prevalence of generative AI tools has increased significantly since the AI boom in the 2020s. This boom was made possible by improvements in deep neural networks, particularly large language models (LLMs), which are based on the transformer architecture. Generative AI applications include chatbots such as ChatGPT, Claude, Copilot, DeepSeek, Doubao, Google Gemini, Grok and Qwen; text-to-image models such as DALL-E, Firefly, Stable Diffusion, and Midjourney; and text-to-video models such as Veo, LTX and Sora.[161][162][163]\r\n\r\nCompanies in a variety of sectors have used generative AI, including those in software development, healthcare,[164] finance,[165] entertainment,[166] customer service,[167] sales and marketing,[168] art, writing,[169] and product design.[170]\r\n\r\nAgents\r\nMain article: Agentic AI\r\nSee also: OpenClaw and CrewAI\r\nAI agents are software entities designed to perceive their environment, make decisions, and take actions autonomously to achieve specific goals. These agents can interact with users, their environment, or other agents. AI agents are used in various applications, including virtual assistants, chatbots, autonomous vehicles, game-playing systems, and industrial robotics. AI agents operate within the constraints of their programming, available computational resources, and hardware limitations. This means they are restricted to performing tasks within their defined scope and have finite memory and processing capabilities. In real-world applications, AI agents often face time constraints for decision-making and action execution. Many AI agents incorporate learning algorithms, enabling them to improve their performance over time through experience or training. Using machine learning, AI agents can adapt to new situations and optimise their behaviour for their designated tasks.[171][172][173]\r\n\r\nWeb search\r\nMicrosoft introduced Copilot Search in February 2023 under the name Bing Chat. Copilot Search provides AI-generated summaries.[174]\r\n\r\nGoogle introduced an AI Mode at its Google I/O event on 20 May 2025.[175]\r\n\r\nSexuality\r\nApplications of AI in this domain include AI-enabled menstruation and fertility trackers that analyze user data to offer predictions,[176] AI-integrated sex toys (e.g., teledildonics),[177] AI-generated sexual education content,[178] and AI agents that simulate sexual and romantic partners (e.g., Replika).[179] AI is also used for the production of non-consensual deepfake pornography, raising significant ethical and legal concerns.[180]\r\n\r\nAI technologies have also been used to attempt to identify online gender-based violence and online sexual grooming of minors.[181][182]\r\n\r\nOther industry-specific tasks\r\nIn a 2017 survey, one in five companies reported having incorporated \"AI\" in some offerings or processes.[183]\r\n\r\nIn the field of evacuation and disaster management, AI has been used to investigate patterns in large-scale and small-scale evacuations using historical data from GPS, videos or social media.[184][185][186]\r\n\r\nDuring the 2024 Indian elections, US$50 million was spent on authorized AI-generated content, notably by creating deepfakes of allied (including sometimes deceased) politicians to better engage with voters, and by translating speeches to various local languages.[187]\r\n\r\nThe use of generative AI by law firms for legal research resulted in the creation of the global \"AI Hallucination Cases\" database, in April 2025, established by HEC Paris and Sciences Po legal data analysis lecturer Damien Charlotin.[188][189] By 2026, judges had issued sanctions and bar associations had issued warnings due to attorney submissions to the courts containing fabricated case law citations hallucinated by AI tools.[190]\r\n\r\nSee also: Hallucination (artificial intelligence) § In legal filings\r\nEthics\r\nMain article: Ethics of artificial intelligence\r\n\r\nStreet art in Tel Aviv[191][192]\r\nAI has potential benefits and potential risks.[193] AI may be able to advance science and find solutions for serious problems: Demis Hassabis of DeepMind hopes to \"solve intelligence, and then use that to solve everything else\".[194] However, as the use of AI has become widespread, several unintended consequences and risks have been identified.[195][196] In-production systems can sometimes not factor ethics and bias into their AI training processes, especially when the AI algorithms are inherently unexplainable in deep learning.[197]\r\n\r\nRisks and harm\r\nPrivacy and copyright\r\nFurther information: Information privacy and Artificial intelligence and copyright\r\nMachine learning algorithms require large amounts of data. The techniques used to acquire this data have raised concerns about privacy, surveillance and copyright.\r\n\r\nAI-powered devices and services, such as virtual assistants and IoT products, continuously collect personal information, raising concerns about intrusive data gathering and unauthorized access by third parties. The loss of privacy is further exacerbated by AI's ability to process and combine vast amounts of data, potentially leading to a surveillance society where individual activities are constantly monitored and analyzed without adequate safeguards or transparency.\r\n\r\nSensitive user data collected may include online activity records, geolocation data, video, or audio.[198] For example, in order to build speech recognition algorithms, Amazon has recorded millions of private conversations and allowed temporary workers to listen to and transcribe some of them.[199] Opinions about this widespread surveillance range from those who see it as a necessary evil to those for whom it is clearly unethical and a violation of the right to privacy.[200]\r\n\r\nAI developers argue that this is the only way to deliver valuable applications and have developed several techniques that attempt to preserve privacy while still obtaining the data, such as data aggregation, de-identification and differential privacy.[201] Since 2016, some privacy experts, such as Cynthia Dwork, have begun to view privacy in terms of fairness. Brian Christian wrote that experts have pivoted \"from the question of 'what they know' to the question of 'what they're doing with it'.\"[202]\r\n\r\nGenerative AI is often trained on unlicensed copyrighted works, including in domains such as images or computer code; the output is then used under the rationale of \"fair use\". Experts disagree about how well and under what circumstances this rationale will hold up in courts of law; relevant factors may include \"the purpose and character of the use of the copyrighted work\" and \"the effect upon the potential market for the copyrighted work\".[203][204] Website owners can indicate that they do not want their content scraped via a \"robots.txt\" file.[205] However, some companies will scrape content regardless[206][207] because the robots.txt file has no real authority. In 2023, leading authors (including John Grisham and Jonathan Franzen) sued AI companies for using their work to train generative AI.[208][209] Another discussed approach is to envision a separate sui generis system of protection for creations generated by AI to ensure fair attribution and compensation for human authors.[210]\r\n\r\nDominance by tech giants\r\nThe commercial AI scene is dominated by Big Tech companies such as Alphabet Inc., Amazon, Apple Inc., Meta Platforms, and Microsoft.[211][212][213] Some of these players already own the vast majority of existing cloud infrastructure and computing power from data centers, allowing them to entrench further in the marketplace.[214][215]\r\n\r\nPower needs and environmental impacts\r\nSee also: Environmental impacts of artificial intelligence\r\n\r\nFueled by a growth in AI, data centers' demand for power increased in the 2020s.[216]\r\nTechnology companies have built electricity and artificial intelligence infrastructure to facilitate the AI boom of the 2020s. A 2025 report from the consulting firm McKinsey & Company estimated that by 2030, $2.7 trillion would be invested into AI infrastructure and data centers in the US, surpassing World War II's Manhattan Project every month.[217]\r\n\r\nIn January 2024, the International Energy Agency (IEA) released Electricity 2024, Analysis and Forecast to 2026.[218] This is the first IEA report to make projections for data centers and power consumption by AI and cryptocurrency. The report states that power demand for these uses might double by 2026, with the additional power consumption equaling that of Japan.[219]\r\n\r\nPower consumption by AI is responsible for an increase in fossil fuel use, and has delayed closings of obsolete, carbon-emitting coal energy facilities. A ChatGPT search involves the use of 10 times the electrical energy as a Google search.[220]\r\n\r\nA 2024 Goldman Sachs Research Paper, AI Data Centers and the Coming US Power Demand Surge, found \"US power demand (is) likely to experience growth not seen in a generation....\" and forecasts that, by 2030, US data centers will consume 8% of US power, as opposed to 3% in 2022, presaging growth for the electrical power generation industry by a variety of means.[221] Data centers' need for more and more electrical power is such that they might max out the electrical grid. The Big Tech companies counter that AI can be used to maximize the utilization of the grid by all.[222]\r\n\r\nIn 2024, The Wall Street Journal reported that big AI companies have begun negotiations with the US nuclear power providers to provide electricity to the data centers. In March 2024 Amazon purchased a Pennsylvania nuclear-powered data center for US$650 million.[223]\r\n\r\nIn September 2024, Microsoft announced an agreement with Constellation Energy to re-open the Three Mile Island nuclear power plant to provide Microsoft with 100% of all electric power produced by the plant for 20 years. Reopening the plant, which suffered a partial nuclear meltdown of its Unit 2 reactor in 1979, will require Constellation to get through strict regulatory processes which will include extensive safety scrutiny from the US Nuclear Regulatory Commission. If approved (this will be the first ever US re-commissioning of a nuclear plant), over 835 megawatts of power – enough for 800,000 homes – of energy will be produced. The cost for re-opening and upgrading is estimated at US$1.6 billion and is dependent on tax breaks for nuclear power contained in the 2022 US Inflation Reduction Act.[224] As of 2024, the US government and the state of Michigan have been investing almost US$2 billion to reopen the Palisades Nuclear reactor on Lake Michigan. Closed since 2022, the plant was planned to be reopened in October 2025.[225]\r\n\r\nAfter the last approval in September 2023, Taiwan suspended the approval of data centers north of Taoyuan with a capacity of more than 5 MW in 2024, due to power supply shortages.[226] Taiwan aims to phase out nuclear power by 2025.[226]\r\n\r\nSingapore imposed a ban on the opening of data centers in 2019 due to electric power, but in 2022, lifted this ban.[226]\r\n\r\nAlthough most nuclear plants in Japan have been shut down after the 2011 Fukushima nuclear accident, according to an October 2024 Bloomberg article in Japanese, cloud gaming services company Ubitus, in which Nvidia has a stake, is looking for land in Japan near a nuclear power plant for a new data center for generative AI.[227]\r\n\r\nOn 1 November 2024, the Federal Energy Regulatory Commission (FERC) rejected an application submitted by Talen Energy for approval to supply some electricity from the nuclear power station Susquehanna to Amazon's data center.[228] According to the Commission Chairman Willie L. Phillips, it is a burden on the electricity grid as well as a significant cost shifting concern to households and other business sectors.[228]\r\n\r\nIn 2025, a report prepared by the IEA estimated the greenhouse gas emissions from the energy consumption of AI at 180 million tons. By 2035, these emissions could rise to 300–500 million tonnes depending on what measures will be taken. This is below 1.5% of the energy sector emissions. The emissions reduction potential of AI was estimated at 5% of the energy sector emissions, but rebound effects (for example if people switch from public transport to autonomous cars) can reduce it.[229]\r\n\r\nMisinformation\r\nSee also: Content moderation\r\nYouTube, Facebook and others use recommender systems to guide users to more content. These AI programs were given the goal of maximizing user engagement (that is, the only goal was to keep people watching). The AI learned that users tended to choose misinformation, conspiracy theories, and extreme partisan content, and, to keep them watching, the AI recommended more of it. Users also tended to watch more content on the same subject, so the AI led people into filter bubbles where they received multiple versions of the same misinformation.[230] This convinced many users that the misinformation was true, and ultimately undermined trust in institutions, the media and the government.[231] The AI program had correctly learned to maximize its goal, but the result was harmful to society. After the U.S. election in 2016, major technology companies took some steps to mitigate the problem.[232]\r\n\r\nIn the early 2020s, generative AI began to create images, audio, and texts that are virtually indistinguishable from real photographs, recordings, or human writing,[233] while realistic AI-generated videos became feasible in the mid-2020s.[234][235][236] It is possible for bad actors to use this technology to create massive amounts of misinformation or propaganda;[237] one such potential malicious use is deepfakes for computational propaganda.[238] AI pioneer and Nobel Prize-winning computer scientist Geoffrey Hinton expressed concern about AI enabling \"authoritarian leaders to manipulate their electorates\" on a large scale, among other risks.[239] The ability to influence electorates has been proved in at least one study. This same study shows more inaccurate statements from the models when they advocate for candidates of the political right.[240]\r\n\r\nAI researchers at Microsoft, OpenAI, universities and other organisations have suggested using \"personhood credentials\" as a way to overcome online deception enabled by AI models.[241]\r\n\r\nAlgorithmic bias and fairness\r\nMain articles: Algorithmic bias and Fairness (machine learning)\r\nMachine learning applications can be biased[k] if they learn from biased data.[243] The developers may not be aware that the bias exists.[244] Discriminatory behavior by some LLMs can be observed in their output.[245] Bias can be introduced by the way training data is selected and by the way a model is deployed.[246][243] If a biased algorithm is used to make decisions that can seriously harm people (as it can in medicine, finance, recruitment, housing or policing) then the algorithm may cause discrimination.[247] The field of fairness studies how to prevent harms from algorithmic biases.\r\n\r\nOn 28 June 2015, Google Photos's new image labeling feature mistakenly identified Jacky Alcine and a friend as \"gorillas\" because they were black. The system was trained on a dataset that contained very few images of black people,[248] a problem called \"sample size disparity\".[249] Google \"fixed\" this problem by preventing the system from labelling anything as a \"gorilla\". Eight years later, in 2023, Google Photos still could not identify a gorilla, and neither could similar products from Apple, Facebook, Microsoft and Amazon.[250]\r\n\r\nCOMPAS is a commercial program widely used by U.S. courts to assess the likelihood of a defendant becoming a recidivist. In 2016, Julia Angwin at ProPublica discovered that COMPAS exhibited racial bias, despite the fact that the program was not told the races of the defendants. Although the error rate for both whites and blacks was calibrated equal at exactly 61%, the errors for each race were different—the system consistently overestimated the chance that a black person would re-offend and would underestimate the chance that a white person would not re-offend.[251] In 2017, several researchers[l] showed that it was mathematically impossible for COMPAS to accommodate all possible measures of fairness when the base rates of re-offense were different for whites and blacks in the data.[253]\r\n\r\nA program can make biased decisions even if the data does not explicitly mention a problematic feature (such as \"race\" or \"gender\"). The feature will correlate with other features (like \"address\", \"shopping history\" or \"first name\"), and the program will make the same decisions based on these features as it would on \"race\" or \"gender\".[254] Moritz Hardt said \"the most robust fact in this research area is that fairness through blindness doesn't work.\"[255]\r\n\r\nCriticism of COMPAS highlighted that machine learning models are designed to make \"predictions\" that are only valid if we assume that the future will resemble the past. If they are trained on data that includes the results of racist decisions in the past, machine learning models must predict that racist decisions will be made in the future. If an application then uses these predictions as recommendations, some of these \"recommendations\" will likely be racist.[256] Thus, machine learning is not well suited to help make decisions in areas where there is hope that the future will be better than the past. It is descriptive rather than prescriptive.[m]\r\n\r\nBias and unfairness may go undetected because the developers are overwhelmingly white and male: among AI engineers, about 4% are black and 20% are women.[249]\r\n\r\nThere are various conflicting definitions and mathematical models of fairness. These notions depend on ethical assumptions, and are influenced by beliefs about society. One broad category is distributive fairness, which focuses on the outcomes, often identifying groups and seeking to compensate for statistical disparities. Representational fairness tries to ensure that AI systems do not reinforce negative stereotypes or render certain groups invisible. Procedural fairness focuses on the decision process rather than the outcome. The most relevant notions of fairness may depend on the context, notably the type of AI application and the stakeholders. The subjectivity in the notions of bias and fairness makes it difficult for companies to operationalize them. Having access to sensitive attributes such as race or gender is also considered by many AI ethicists to be necessary in order to compensate for biases, but it may conflict with anti-discrimination laws.[242]\r\n\r\nAt the 2022 ACM Conference on Fairness, Accountability, and Transparency a paper reported that a CLIP‑based (Contrastive Language-Image Pre-training) robotic system reproduced harmful gender‑ and race‑linked stereotypes in a simulated manipulation task. The authors recommended robot‑learning methods which physically manifest such harms be \"paused, reworked, or even wound down when appropriate, until outcomes can be proven safe, effective, and just.\"[258][259][260]\r\n\r\nLack of transparency\r\nSee also: Explainable AI, Algorithmic transparency, and Right to explanation\r\nMany AI systems are so complex that their designers cannot explain how they reach their decisions.[261] Particularly with deep neural networks, in which there are many non-linear relationships between inputs and outputs. But some popular explainability techniques exist.[262]\r\n\r\nIt is impossible to be certain that a program is operating correctly if no one knows how exactly it works. There have been many cases where a machine learning program passed rigorous tests, but nevertheless learned something different than what the programmers intended. For example, a system that could identify skin diseases better than medical professionals was found to actually have a strong tendency to classify images with a ruler as \"cancerous\", because pictures of malignancies typically include a ruler to show the scale.[263] Another machine learning system designed to help effectively allocate medical resources was found to classify patients with asthma as being at \"low risk\" of dying from pneumonia. Having asthma is actually a severe risk factor, but since the patients having asthma would usually get much more medical care, they were relatively unlikely to die according to the training data. The correlation between asthma and low risk of dying from pneumonia was real, but misleading.[264]\r\n\r\nPeople who have been harmed by an algorithm's decision have a right to an explanation.[265] Doctors, for example, are expected to clearly and completely explain to their colleagues the reasoning behind any decision they make. Early drafts of the European Union's General Data Protection Regulation in 2016 included an explicit statement that this right exists.[n] Industry experts noted that this is an unsolved problem with no solution in sight. Regulators argued that nevertheless the harm is real: if the problem has no solution, the tools should not be used.[266]\r\n\r\nDARPA established the XAI (\"Explainable Artificial Intelligence\") program in 2014 to try to solve these problems.[267]\r\n\r\nSeveral approaches aim to address the transparency problem. SHAP enables to visualise the contribution of each feature to the output.[268] LIME can locally approximate a model's outputs with a simpler, interpretable model.[269] Multitask learning provides a large number of outputs in addition to the target classification. These other outputs can help developers deduce what the network has learned.[270] Deconvolution, DeepDream and other generative methods can allow developers to see what different layers of a deep network for computer vision have learned, and produce output that can suggest what the network is learning.[271] For generative pre-trained transformers, Anthropic developed a technique based on dictionary learning that associates patterns of neuron activations with human-understandable concepts.[272]\r\n\r\nBad actors and weaponized AI\r\nMain articles: Lethal autonomous weapon, Artificial intelligence arms race, and AI safety\r\nArtificial intelligence provides a number of tools that are useful to bad actors, such as authoritarian governments, terrorists, criminals or rogue states.\r\n\r\nA lethal autonomous weapon is a machine that locates, selects and engages human targets without human supervision.[o] Widely available AI tools can be used by bad actors to develop inexpensive autonomous weapons and, if produced at scale, they are potentially weapons of mass destruction.[274] Even when used in conventional warfare, they currently cannot reliably choose targets and could potentially kill an innocent person.[274] In 2014, 30 nations (including China) supported a ban on autonomous weapons under the United Nations' Convention on Certain Conventional Weapons, however the United States and others disagreed.[275] By 2015, over fifty countries were reported to be researching battlefield robots.[276]\r\n\r\nAI tools make it easier for authoritarian governments to efficiently control their citizens in several ways. Face and voice recognition allow widespread surveillance. Machine learning, operating this data, can classify potential enemies of the state and prevent them from hiding. Recommendation systems can precisely target propaganda and misinformation for maximum effect. Deepfakes and generative AI aid in producing misinformation. Advanced AI can make authoritarian centralized decision-making more competitive than liberal and decentralized systems such as markets. It lowers the cost and difficulty of digital warfare and advanced spyware.[277] All these technologies have been available since 2020 or earlier—AI facial recognition systems are already being used for mass surveillance in China.[278][279]\r\n\r\nThere are many other ways in which AI is expected to help bad actors, some of which can not be foreseen. For example, machine-learning AI is able to design tens of thousands of toxic molecules in a matter of hours.[280]\r\n\r\nTechnological unemployment\r\nMain articles: Workplace impact of artificial intelligence and Technological unemployment\r\nEconomists have frequently highlighted the risks of redundancies from AI, and speculated about unemployment if there is no adequate social policy for full employment.[281]\r\n\r\nIn the past, technology has tended to increase rather than reduce total employment, but economists acknowledge that \"we're in uncharted territory\" with AI.[282] A survey of economists showed disagreement about whether the increasing use of robots and AI will cause a substantial increase in long-term unemployment, but they generally agree that it could be a net benefit if productivity gains are redistributed.[283] Risk estimates vary; for example, in the 2010s, Michael Osborne and Carl Benedikt Frey estimated 47% of U.S. jobs are at \"high risk\" of potential automation, while an OECD report classified only 9% of U.S. jobs as \"high risk\".[p][285] The methodology of speculating about future employment levels has been criticised as lacking evidential foundation, and for implying that technology, rather than social policy, creates unemployment, as opposed to redundancies.[281] In April 2023, it was reported that 70% of the jobs for Chinese video game illustrators had been eliminated by generative artificial intelligence.[286][287] Early-career workers showed decreasing employment rates in some AI-exposed occupations.[288]\r\n\r\nUnlike previous waves of automation, many middle-class jobs may be eliminated by artificial intelligence; The Economist stated in 2015 that \"the worry that AI could do to white-collar jobs what steam power did to blue-collar ones during the Industrial Revolution\" is \"worth taking seriously\".[289] Jobs at extreme risk range from paralegals to fast food cooks, while job demand is likely to increase for care-related professions ranging from personal healthcare to the clergy.[290] In July 2025, Ford CEO Jim Farley predicted that \"artificial intelligence is going to replace literally half of all white-collar workers in the U.S.\"[291]\r\n\r\nFrom the early days of the development of artificial intelligence, there have been arguments, for example, those put forward by Joseph Weizenbaum, about whether tasks that can be done by computers actually should be done by them, given the difference between computers and humans, and between quantitative calculation and qualitative, value-based judgement.[292]\r\n\r\nSubstitution for human–human interaction\r\nSee also: Deaths linked to chatbots\r\nWith the increase of loneliness in the early 21st century, AI is sometimes identified as a potential source of relief to this problem. It would be possible, via human-like qualities built into AI products,[293] for individuals to assume that this need can be met by artificial means.[294][295] In some cases, people approach artificial intelligence for companionship when they believe that they would not find acceptance due to feeling outcast.[296] Examples of harm coming to humans from advanced chatbots have been reported in courts in the United States, with AI companies accused of creating products that endanger humans through emotional confusion or deception.[297][298]\r\n\r\nExistential risk\r\nMain article: Existential risk from artificial intelligence\r\nRecent public debates in artificial intelligence have increasingly focused on its broader societal and ethical implications. It has been argued AI will become so powerful that humanity may irreversibly lose control of it. This could, as physicist Stephen Hawking stated, \"spell the end of the human race\".[299] This scenario has been common in science fiction, when a computer or robot suddenly develops a human-like \"self-awareness\" (or \"sentience\" or \"consciousness\") and becomes a malevolent character.[q] These sci-fi scenarios are misleading in several ways.\r\n\r\nFirst, AI does not require human-like sentience to be an existential risk. Modern AI programs are given specific goals and use learning and intelligence to achieve them. Philosopher Nick Bostrom argued that if one gives almost any goal to a sufficiently powerful AI, it may choose to destroy humanity to achieve it (he used the example of an automated paperclip factory that destroys the world to get more iron for paperclips).[301] Stuart Russell gives the example of household robot that tries to find a way to kill its owner to prevent it from being unplugged, reasoning that \"you can't fetch the coffee if you're dead.\"[302] In order to be safe for humanity, a superintelligence would have to be genuinely aligned with humanity's morality and values so that it is \"fundamentally on our side\".[303]\r\n\r\nSecond, Yuval Noah Harari argues that AI does not require a robot body or physical control to pose an existential risk. The essential parts of civilization are not physical. Things like ideologies, law, government, money and the economy are built on language; they exist because there are stories that billions of people believe. The current prevalence of misinformation suggests that an AI could use language to convince people to believe anything, even to take actions that are destructive.[304] Geoffrey Hinton said in 2025 that modern AI is particularly \"good at persuasion\" and getting better all the time. He asks, \"Suppose you wanted to invade the capital of the US. Do you have to go there and do it yourself? No. You just have to be good at persuasion.\"[305]\r\n\r\nThe opinions amongst experts and industry insiders are mixed, with sizable fractions both concerned and unconcerned by risk from eventual superintelligent AI.[306] Personalities such as Stephen Hawking, Bill Gates, and Elon Musk,[307] as well as AI pioneers such as Geoffrey Hinton, Yoshua Bengio, Stuart Russell, Demis Hassabis, and Sam Altman, have expressed concerns about existential risk from AI.\r\n\r\nIn May 2023, Geoffrey Hinton announced his resignation from Google in order to be able to \"freely speak out about the risks of AI\" without \"considering how this impacts Google\".[308] He notably mentioned risks of an AI takeover,[309] and stressed that in order to avoid the worst outcomes, establishing safety guidelines will require cooperation among those competing in use of AI.[310]\r\n\r\nIn 2023, many leading AI experts endorsed the joint statement that \"Mitigating the risk of extinction from AI should be a global priority alongside other societal-scale risks such as pandemics and nuclear war\".[311]\r\n\r\nSome other researchers were more optimistic. AI pioneer Jürgen Schmidhuber did not sign the joint statement, emphasising that in 95% of all cases, AI research is about making \"human lives longer and healthier and easier.\"[312] While the tools that are now being used to improve lives can also be used by bad actors, \"they can also be used against the bad actors.\"[313][314] Andrew Ng also argued that \"it's a mistake to fall for the doomsday hype on AI—and that regulators who do will only benefit vested interests.\"[315] Yann LeCun, a Turing Award winner, disagreed with the idea that AI will subordinate humans \"simply because they are smarter, let alone destroy [us]\",[316] \"scoff[ing] at his peers' dystopian scenarios of supercharged misinformation and even, eventually, human extinction.\" In contrast, he claimed that \"intelligent machines will usher in a new renaissance for humanity, a new era of enlightenment.\"[317] In the early 2010s, experts argued that the risks are too distant in the future to warrant research or that humans will be valuable from the perspective of a superintelligent machine.[318] However, after 2016, the study of current and future risks and possible solutions became a serious area of research.[319]\r\n\r\nEthical machines and alignment\r\nMain articles: Machine ethics, AI safety, Friendly artificial intelligence, Artificial moral agents, and Human Compatible\r\nSee also: Human-AI interaction\r\nFriendly AI are machines that have been designed from the beginning to minimize risks and to make choices that benefit humans. Eliezer Yudkowsky, who coined the term, argues that developing friendly AI should be a higher research priority: it may require a large investment and it must be completed before AI becomes an existential risk.[320]\r\n\r\nMachines with intelligence have the potential to use their intelligence to make ethical decisions. The field of machine ethics provides machines with ethical principles and procedures for resolving ethical dilemmas.[321] The field of machine ethics is also called computational morality,[321] and was founded at an AAAI symposium in 2005.[322]\r\n\r\nOther approaches include Wendell Wallach's \"artificial moral agents\"[323] and Stuart J. Russell's three principles for developing provably beneficial machines.[324]\r\n\r\nOpen source\r\nSee also: Open-source artificial intelligence and Lists of open-source artificial intelligence software\r\nActive organizations in the AI open-source community include Hugging Face,[325] Google,[326] EleutherAI and Meta.[327] Various AI models, such as Llama 2, Mistral or Stable Diffusion, have been made open-weight,[328][329] meaning that their architecture and trained parameters (the \"weights\") are publicly available. Open-weight models can be freely fine-tuned, which allows companies to specialize them with their own data and for their own use-case.[330] Open-weight models are useful for research and innovation but can also be misused. Since they can be fine-tuned, any built-in security measure, such as objecting to harmful requests, can be trained away until it becomes ineffective. Some researchers warn that future AI models may develop dangerous capabilities (such as the potential to drastically facilitate bioterrorism) and that once released on the Internet, they cannot be deleted everywhere if needed. They recommend pre-release audits and cost-benefit analyses.[331]\r\n\r\nFrameworks\r\nArtificial intelligence projects can be guided by ethical considerations during the design, development, and implementation of an AI system. An AI framework such as the Care and Act Framework, developed by the Alan Turing Institute and based on the SUM values, outlines four main ethical dimensions, defined as follows:[332][333]\r\n\r\nRespect the dignity of individual people\r\nConnect with other people sincerely, openly, and inclusively\r\nCare for the wellbeing of everyone\r\nProtect social values, justice, and the public interest\r\nOther developments in ethical frameworks include those decided upon during the Asilomar Conference, the Montreal Declaration for Responsible AI, and the IEEE's Ethics of Autonomous Systems initiative, among others;[334] however, these principles are not without criticism, especially regarding the people chosen to contribute to these frameworks.[335]\r\n\r\nPromotion of the wellbeing of the people and communities that these technologies affect requires consideration of the social and ethical implications at all stages of AI system design, development and implementation, and collaboration between job roles such as data scientists, product managers, data engineers, domain experts, and delivery managers.[336]\r\n\r\nThe UK AI Safety Institute released in 2024 a testing toolset called 'Inspect' for AI safety evaluations available under an MIT open-source licence which is freely available on GitHub and can be improved with third-party packages. It can be used to evaluate AI models in a range of areas including core knowledge, ability to reason, and autonomous capabilities.[337]\r\n\r\nRegulation\r\nMain articles: Regulation of artificial intelligence, Regulation of algorithms, and AI safety\r\nAI Safety Summit\r\nThe first global AI Safety Summit was held in the United Kingdom in November 2023 with a declaration calling for international cooperation.\r\nThe regulation of artificial intelligence is the development of public sector policies and laws for promoting and regulating AI; it is therefore related to the broader regulation of algorithms.[338] The regulatory and policy landscape for AI is an emerging issue in jurisdictions globally.[339] According to AI Index at Stanford, the annual number of AI-related laws passed in the 127 survey countries jumped from one passed in 2016 to 37 passed in 2022 alone.[340][341] Between 2016 and 2020, more than 30 countries adopted dedicated strategies for AI.[342] Most EU member states had released national AI strategies, as had Canada, China, India, Japan, Mauritius, the Russian Federation, Saudi Arabia, United Arab Emirates, U.S., and Vietnam. Others were in the process of elaborating their own AI strategy, including Bangladesh, Malaysia and Tunisia.[342] The Global Partnership on Artificial Intelligence was launched in June 2020, stating a need for AI to be developed in accordance with human rights and democratic values, to ensure public confidence and trust in the technology.[342] Henry Kissinger, Eric Schmidt, and Daniel Huttenlocher published a joint statement in November 2021 calling for a government commission to regulate AI.[343] In 2023, OpenAI leaders published recommendations for the governance of superintelligence, which they believe may happen in less than 10 years.[344] In 2023, the United Nations also launched an advisory body to provide recommendations on AI governance; the body comprises technology company executives, government officials and academics.[345] On 1 August 2024, the EU Artificial Intelligence Act entered into force, establishing the first comprehensive EU-wide AI regulation.[346] In 2024, the Council of Europe created the first international legally binding treaty on AI, called the \"Framework Convention on Artificial Intelligence and Human Rights, Democracy and the Rule of Law\". It was adopted by the European Union, the United States, the United Kingdom, and other signatories.[347]\r\n\r\nIn a 2022 Ipsos survey, attitudes towards AI varied greatly by country; 78% of Chinese citizens, but only 35% of Americans, agreed that \"products and services using AI have more benefits than drawbacks\".[340] A 2023 Reuters/Ipsos poll found that 61% of Americans agree, and 22% disagree, that AI poses risks to humanity.[348] In a 2023 Fox News poll, 35% of Americans thought it \"very important\", and an additional 41% thought it \"somewhat important\", for the federal government to regulate AI, versus 13% responding \"not very important\" and 8% responding \"not at all important\".[349][350]\r\n\r\nIn November 2023, the first global AI Safety Summit was held in Bletchley Park in the UK to discuss the near and far term risks of AI and the possibility of mandatory and voluntary regulatory frameworks.[351] 28 countries including the United States, China, and the European Union issued a declaration at the start of the summit, calling for international co-operation to manage the challenges and risks of artificial intelligence.[352][353] In May 2024 at the AI Seoul Summit, 16 global AI tech companies agreed to safety commitments on the development of AI.[354][355]\r\n\r\nIn March 2026, the United Nations convened the inaugural meeting of the Independent International Scientific Panel on AI, a 40-member expert body established under the Global Digital Compact to produce annual evidence-based reports on AI's societal impacts.[356]\r\n\r\nHistory\r\nMain article: History of artificial intelligence\r\nFor a chronological guide, see Timeline of artificial intelligence.\r\n\r\nIn 2024, AI patents in China and the US numbered more than three-fourths of AI patents worldwide.[357] Though China had more AI patents, the US had 35% more patents per AI patent-applicant company than China.[357]\r\nThe study of mechanical or \"formal\" reasoning began with philosophers and mathematicians in antiquity. The study of logic led directly to Alan Turing's theory of computation, which suggested that a machine, by shuffling symbols as simple as \"0\" and \"1\", could simulate any conceivable form of mathematical reasoning.[358][359] This, along with concurrent discoveries in cybernetics, information theory and neurobiology, led researchers to consider the possibility of building an \"electronic brain\".[r] They developed several areas of research that would become part of AI,[361] such as McCulloch and Pitts design for \"artificial neurons\" in 1943,[115] and Turing's influential 1950 paper 'Computing Machinery and Intelligence', which introduced the Turing test and showed that \"machine intelligence\" was plausible.[362][359]\r\n\r\nThe field of AI research was founded at a workshop at Dartmouth College in 1956.[s][4] The first AI program, Logic Theorist, was presented at the workshop, created by future Turing Award winner Allen Newell and future Nobel Laureate Herbert A. Simon, in collaboration with J. C. Shaw. Many of the workshop attendees became the leaders of AI research in the 1960s.[t] They and their students produced programs that the press described as \"astonishing\":[u] computers were learning checkers strategies, solving word problems in algebra, proving logical theorems and speaking English.[v][5] Artificial intelligence laboratories were set up at a number of British and U.S. universities in the latter 1950s and early 1960s.[359]\r\n\r\nResearchers in the 1960s and the 1970s were convinced that their methods would eventually succeed in creating a machine with general intelligence and considered this the goal of their field.[366] In 1965 Herbert Simon predicted, \"machines will be capable, within twenty years, of doing any work a man can do\".[367] In 1967 Marvin Minsky agreed, writing that \"within a generation ... the problem of creating 'artificial intelligence' will substantially be solved\".[368] They had, however, underestimated the difficulty of the problem.[w] In 1974, both the U.S. and British governments cut off exploratory research in response to the criticism of Sir James Lighthill[370] and ongoing pressure from the U.S. Congress to fund more productive projects.[371] Minsky and Papert's book Perceptrons was understood as proving that artificial neural networks would never be useful for solving real-world tasks, thus discrediting the approach altogether.[372] The \"AI winter\", a period when obtaining funding for AI projects was difficult, followed.[7]\r\n\r\nIn the early 1980s, AI research was revived by the commercial success of expert systems,[373] a form of AI program that simulated the knowledge and analytical skills of human experts. By 1985, the market for AI had reached over a billion dollars. At the same time, Japan's fifth generation computer project inspired the U.S. and British governments to restore funding for academic research.[6] However, beginning with the collapse of the Lisp Machine market in 1987, AI once again fell into disrepute, and a second, longer-lasting winter began.[8]\r\n\r\nUp to this point, most of AI's funding had gone to projects that used high-level symbols to represent mental objects like plans, goals, beliefs, and known facts. In the 1980s, some researchers began to doubt that this approach would be able to imitate all the processes of human cognition, especially perception, robotics, learning and pattern recognition,[374] and began to look into \"sub-symbolic\" approaches.[375] Rodney Brooks rejected \"representation\" in general and focussed directly on engineering machines that move and survive.[x] Judea Pearl, Lotfi Zadeh, and others developed methods that handled incomplete and uncertain information by making reasonable guesses rather than precise logic.[85][380] But the most important development was the revival of \"connectionism\", including neural network research, by Geoffrey Hinton and others.[381] In 1990, Yann LeCun successfully showed that convolutional neural networks can recognize handwritten digits, the first of many successful applications of neural networks.[382]\r\n\r\nAI gradually restored its reputation in the late 1990s and early 21st century by exploiting formal mathematical methods and by finding specific solutions to specific problems. This \"narrow\" and \"formal\" focus allowed researchers to produce verifiable results and collaborate with other fields (such as statistics, economics and mathematics).[383] By 2000, solutions developed by AI researchers were being widely used, although in the 1990s they were rarely described as \"artificial intelligence\" (a tendency known as the AI effect).[384] However, several academic researchers became concerned that AI was no longer pursuing its original goal of creating versatile, fully intelligent machines. Beginning around 2002, they founded the subfield of artificial general intelligence (or \"AGI\"), which had several well-funded institutions by the 2010s.[67]\r\n\r\nDeep learning began to dominate industry benchmarks in 2012 and was adopted throughout the field.[9] For many specific tasks, other methods were abandoned.[y] Deep learning's success was based on both hardware improvements (faster computers,[386] graphics processing units, cloud computing[387]) and access to large amounts of data[388] (including curated datasets,[387] such as ImageNet). Deep learning's success led to an enormous increase in interest and funding in AI.[z] The amount of machine learning research (measured by total publications) increased by 50% in the years 2015–2019.[342]\r\n\r\n\r\nThe number of Google searches for the term \"AI\" accelerated in 2022.\r\nIn 2016, issues of fairness and the misuse of technology were catapulted into center stage at machine learning conferences, publications vastly increased, funding became available, and many researchers re-focussed their careers on these issues. The alignment problem became a serious field of academic study.[319]\r\n\r\nIn the late 2010s and early 2020s, AGI companies began to deliver programs that created enormous interest. In 2015, AlphaGo, developed by DeepMind, beat the world champion Go player. The program taught only the game's rules and developed a strategy by itself. GPT-3 is a large language model that was released in 2020 by OpenAI and is capable of generating high-quality human-like text.[389] ChatGPT, launched on 30 November 2022, became the fastest-growing consumer software application in history, gaining over 100 million users in two months.[390] It marked what is widely regarded as AI's breakout year, bringing it into the public consciousness.[391] These programs, and others, inspired an aggressive AI boom, where large companies began investing billions of dollars in AI research. According to AI Impacts, about US$50 billion annually was invested in \"AI\" around 2022 in the U.S. alone and about 20% of the new U.S. computer science PhD graduates have specialized in \"AI\".[392] About 800,000 \"AI\"-related U.S. job openings existed in 2022.[393] According to PitchBook research, 22% of newly funded startups in 2024 claimed to be AI companies.[394]\r\n\r\nPhilosophy\r\nMain article: Philosophy of artificial intelligence\r\nPhilosophical debates have historically sought to determine the nature of intelligence and how to make intelligent machines.[395] Another major focus has been whether machines can be conscious, and the associated ethical implications.[396] Many other topics in philosophy are relevant to AI, such as epistemology and free will.[397] Rapid advancements have intensified public discussions on the philosophy and ethics of AI.[396]\r\n\r\nDefining artificial intelligence\r\nSee also: Synthetic intelligence, Intelligent agent, Artificial mind, Virtual intelligence, and Dartmouth workshop\r\nAlan Turing investigated whether machines can show intelligent behaviour and think. In 1950, he proposed the Turing test, which measures the ability of a machine to simulate human conversation.[398][362] Since we can only observe the behavior of the machine, it does not matter if it is \"actually\" thinking or literally has a \"mind\". Turing notes that we can not determine these things about other people but \"it is usual to have a polite convention that everyone thinks.\"[399]\r\n\r\n\r\nThe Turing test can provide some evidence of intelligence, but it penalizes non-human intelligent behavior.[400]\r\nRussell and Norvig agree with Turing that intelligence must be defined in terms of external behavior, not internal structure.[1] However, they are critical that the test requires the machine to imitate humans. \"Aeronautical engineering texts\", they wrote, \"do not define the goal of their field as making 'machines that fly so exactly like pigeons that they can fool other pigeons.'\"[401] AI founder John McCarthy agreed, writing that \"Artificial intelligence is not, by definition, simulation of human intelligence\".[402]\r\n\r\nMcCarthy defines intelligence as \"the computational part of the ability to achieve goals in the world\".[403] Another AI founder, Marvin Minsky, similarly describes it as \"the ability to solve hard problems\".[404] Artificial Intelligence: A Modern Approach defines it as the study of agents that perceive their environment and take actions that maximize their chances of achieving defined goals.[1]\r\n\r\nThe many differing definitions of AI have been critically analyzed.[405][406][407] During the 2020s AI boom, the term has been used as a marketing buzzword to promote products and services which do not use AI.[408]\r\n\r\nLegal definitions\r\nThe International Organization for Standardization describes an AI system as a \"an engineered system that generates outputs such as content, forecasts, recommendations, or decisions for a given set of human‑defined objectives, and can operate with varying levels of automation\".[409] The EU AI Act defines an AI system as \"a machine-based system that is designed to operate with varying levels of autonomy and that may exhibit adaptiveness after deployment, and that, for explicit or implicit objectives, infers, from the input it receives, how to generate outputs such as predictions, content, recommendations, or decisions that can influence physical or virtual environments\".[410] In the United States, influential but non‑binding guidance such as the National Institute of Standards and Technology's AI Risk Management Framework describes an AI system as \"an engineered or machine-based system that can, for a given set of objectives, generate outputs such as predictions, recommendations, or decisions influencing real or virtual environments. AI systems are designed to operate with varying levels of autonomy\".[411]\r\n\r\nEvaluating approaches to AI\r\nNo established unifying theory or paradigm has guided AI research for most of its history.[aa] The unprecedented success of statistical machine learning in the 2010s eclipsed all other approaches (so much so that some sources, especially in the business world, use the term \"artificial intelligence\" to mean \"machine learning with neural networks\"). This approach is mostly sub-symbolic, soft and narrow.\r\n\r\nSymbolic AI and its limits\r\nSymbolic AI (or \"GOFAI\")[413] simulated the high-level conscious reasoning that people use when they solve puzzles, express legal reasoning and do mathematics. It was highly successful at some \"intelligent\" tasks such as algebra or IQ tests. In 1976, Newell and Simon proposed the physical symbol systems hypothesis: \"A physical symbol system has the necessary and sufficient means of general intelligent action.\"[414]\r\n\r\nHowever, the symbolic approach failed on many tasks that humans solve easily, such as learning, recognizing an object or commonsense reasoning. Moravec's paradox is the discovery that high-level \"intelligent\" tasks were easy for AI, but low level \"instinctive\" tasks were extremely difficult.[415] Philosopher Hubert Dreyfus had argued since the 1960s that human expertise depends on unconscious instinct rather than conscious symbol manipulation, and on having a \"feel\" for the situation, rather than explicit symbolic knowledge.[416] Although his arguments had been ridiculed and ignored when they were first presented, eventually, AI research came to agree with him.[ab][14]\r\n\r\nThe issue is not resolved: sub-symbolic reasoning can make many of the same inscrutable mistakes that human intuition does, such as algorithmic bias. Critics such as Noam Chomsky argue continuing research into symbolic AI will still be necessary to attain general intelligence,[418][419] in part because sub-symbolic AI is a move away from explainable AI: it can be difficult or impossible to understand why a modern statistical AI program made a particular decision. The emerging field of neuro-symbolic artificial intelligence attempts to bridge the two approaches.\r\n\r\nNeat vs. scruffy\r\nMain article: Neats and scruffies\r\n\"Neats\" hope that intelligent behavior is described using simple, elegant principles (such as logic, optimization, or neural networks). \"Scruffies\" expect that it necessarily requires solving a large number of unrelated problems. Neats defend their programs with theoretical rigor, scruffies rely mainly on incremental testing to see if they work. This issue was actively discussed in the 1970s and 1980s,[420] but eventually was seen as irrelevant. Modern AI has elements of both.\r\n\r\nSoft vs. hard computing\r\nMain article: Soft computing\r\nFinding a provably correct or optimal solution is intractable for many important problems.[13] Soft computing is a set of techniques, including genetic algorithms, fuzzy logic and neural networks, that are tolerant of imprecision, uncertainty, partial truth and approximation. Soft computing was introduced in the late 1980s and most successful AI programs in the 21st century are examples of soft computing with neural networks.\r\n\r\nNarrow vs. general AI\r\nMain articles: Weak artificial intelligence and Artificial general intelligence\r\nAI researchers are divided as to whether to pursue the goals of artificial general intelligence and superintelligence directly or to solve as many specific problems as possible (narrow AI) in hopes these solutions will lead indirectly to the field's long-term goals.[421][422] General intelligence is difficult to define and difficult to measure, and modern AI has had more verifiable successes by focusing on specific problems with specific solutions. The sub-field of artificial general intelligence studies this area exclusively.\r\n\r\nMachine consciousness, sentience, and mind\r\nMain articles: Philosophy of artificial intelligence and Artificial consciousness\r\nThere is no settled consensus in philosophy of mind on whether a machine can have a mind, consciousness and mental states in the same sense that human beings do. This issue considers the internal experiences of the machine, rather than its external behavior. Mainstream AI research considers this issue irrelevant because it does not affect the goals of the field: to build machines that can solve problems using intelligence. Russell and Norvig add that \"[t]he additional project of making a machine conscious in exactly the way humans are is not one that we are equipped to take on.\"[423] However, the question has become central to the philosophy of mind. It is also typically the central question at issue in artificial intelligence in fiction.\r\n\r\nConsciousness\r\nMain articles: Hard problem of consciousness and Theory of mind\r\nDavid Chalmers identified two problems in understanding the mind, which he named the \"hard\" and \"easy\" problems of consciousness.[424] The easy problem is understanding how the brain processes signals, makes plans and controls behavior. The hard problem is explaining how this feels or why it should feel like anything at all, assuming we are right in thinking that it truly does feel like something (Dennett's consciousness illusionism says this is an illusion). While human information processing is easy to explain, human subjective experience is difficult to explain. For example, it is easy to imagine a color-blind person who has learned to identify which objects in their field of view are red, but it is not clear what would be required for the person to know what red looks like.[425]\r\n\r\nComputationalism and functionalism\r\nMain articles: Computational theory of mind and Functionalism (philosophy of mind)\r\nComputationalism is the position in the philosophy of mind that the human mind is an information processing system and that thinking is a form of computing. Computationalism argues that the relationship between mind and body is similar or identical to the relationship between software and hardware and thus may be a solution to the mind–body problem. This philosophical position was inspired by the work of AI researchers and cognitive scientists in the 1960s and was originally proposed by philosophers Jerry Fodor and Hilary Putnam.[426]\r\n\r\nPhilosopher John Searle characterized this position as \"strong AI\": \"The appropriately programmed computer with the right inputs and outputs would thereby have a mind in exactly the same sense human beings have minds.\"[ac] Searle challenges this claim with his Chinese room argument, which attempts to show that even a computer capable of perfectly simulating human behavior would not have a mind.[430]\r\n\r\nAI welfare and rights\r\nSee also: Ethics of artificial intelligence § AI welfare\r\nIt is difficult or impossible to reliably evaluate whether an advanced AI is sentient (has the ability to feel), and if so, to what degree.[431] But if there is a significant chance that a given machine can feel and suffer, then it may be entitled to certain rights or welfare protection measures, similarly to animals.[432][433] Sapience (a set of capacities related to high intelligence, such as discernment or self-awareness) may provide another moral basis for AI rights.[432] Robot rights are also sometimes proposed as a practical way to integrate autonomous agents into society.[434]\r\n\r\nIn 2017, the European Union considered granting \"electronic personhood\" to some of the most capable AI systems. Similarly to the legal status of companies, it would have conferred rights but also responsibilities.[435] Critics argued in 2018 that granting rights to AI systems would downplay the importance of human rights, and that legislation should focus on user needs rather than speculative futuristic scenarios. They also noted that robots lacked the autonomy to take part in society on their own.[436][437]\r\n\r\nProgress in AI increased interest in the topic. Proponents of AI welfare and rights often argue that AI sentience, if it emerges, would be particularly easy to deny. They warn that this may be a moral blind spot analogous to slavery or factory farming, which could lead to large-scale suffering if sentient AI is created and carelessly exploited.[433][432]\r\n\r\nFuture\r\nSuperintelligence and the singularity\r\nA superintelligence is a hypothetical agent that would possess intelligence far surpassing that of the brightest and most gifted human mind.[422] If research into artificial general intelligence produced sufficiently intelligent software, it might be able to reprogram and improve itself. The improved software would be even better at improving itself, leading to what I. J. Good called an \"intelligence explosion\" and Vernor Vinge called a \"singularity\".[438]\r\n\r\nHowever, technologies cannot improve exponentially indefinitely, and typically follow an S-shaped curve, slowing when they reach the physical limits of what the technology can do.[439]\r\n\r\nTranshumanism\r\nMain article: Transhumanism\r\nRobot designer Hans Moravec, cyberneticist Kevin Warwick and inventor Ray Kurzweil have predicted that humans and machines may merge in the future into cyborgs that are more capable and powerful than either. This idea, called transhumanism, has roots in the writings of Aldous Huxley and Robert Ettinger.[440]\r\n\r\nEdward Fredkin argues that \"artificial intelligence is the next step in evolution\", an idea first proposed by Samuel Butler's \"Darwin among the Machines\" as far back as 1863, and expanded upon by George Dyson in his 1998 book Darwin Among the Machines: The Evolution of Global Intelligence.[441]\r\n\r\nIn fiction\r\nMain article: Artificial intelligence in fiction\r\n\r\nThe word \"robot\" itself was coined by Karel Čapek in his 1921 play R.U.R., the title standing for \"Rossum's Universal Robots\".\r\nThought-capable artificial beings have appeared as storytelling devices since antiquity,[442] and have been a persistent theme in science fiction.[443]\r\n\r\nA common trope in these works began with Mary Shelley's Frankenstein, where a human creation becomes a threat to its masters. This includes such works as Arthur C. Clarke's and Stanley Kubrick's 2001: A Space Odyssey (both 1968), with HAL 9000, the murderous computer in charge of the Discovery One spaceship, as well as Blade Runner (1982), The Terminator (1984) and The Matrix (1999). In contrast, the rare loyal robots such as Gort from The Day the Earth Stood Still (1951) and Bishop from Aliens (1986) are less prominent in popular culture.[444]\r\n\r\nIsaac Asimov introduced the Three Laws of Robotics in many stories, most notably with the \"Multivac\" super-intelligent computer. Asimov's laws are often brought up during lay discussions of machine ethics;[445] while almost all artificial intelligence researchers are familiar with Asimov's laws through popular culture, they generally consider the laws useless for many reasons, one of which is their ambiguity.[446]\r\n\r\nSeveral works use AI to force us to confront the fundamental question of what makes us human, showing us artificial beings that have the ability to feel, and thus to suffer. This appears in Karel Čapek's R.U.R., the films A.I. Artificial Intelligence and Ex Machina, as well as the novel Do Androids Dream of Electric Sheep?, by Philip K. Dick. Dick considers the idea that our understanding of human subjectivity is altered by technology created with artificial intelligence.[447]"
      }
    ],
    "Code in JavaScript": [
      {
        "article_text": "What Is Supervised Learning? Breaking It Down for Everyone\r\nLearn briefly about what supervised learning is and how it is actually conducted during training\r\n\r\n\r\nAs the name “Supervised” implies being watched over, machine learning in this process is managed by training with labeled data, where each piece of information is tagged with the correct answer.\r\nSupervised learning is conducted at a foundational level in five steps: Data, Model, Training, Evaluating, and Inference.\r\nThanks for reading Inquiro! Subscribe for free to receive new posts and support my work.\r\nData Collection\r\nThe first and foremost step is to collect data. It should be large in size and high in diversity. Why? Because the more diverse the data is, the better the model can generalize, ensuring better prediction results in the real world.\r\nThe data could be in the form of images, prices, weather information, etc., based on the task types of the target label: Classification and Regression.\r\nDatasets contain both Features and Labels. Here, features are the information that we provide, which the model counts as values.\r\nThe label, on the other hand, is the answer we want to know. So, what a model does is take into account all of the features to calculate and give its prediction.\r\nFor instance, if the label prediction is for the rainfall amount in the months of June, July, then it takes all the relevant historical data of the past few decades from the feature values (such as temperature, humidity, cloud coverage, and so on) and gives its prediction of the estimated amount of rainfall.\r\nTherefore, data quality is very important. In the tech world, this is known as the “Garbage In, Garbage Out” rule, which means your final predictions are only as good as your data.\r\nA model trained with flawed or biased data can only provide ineffective predictions, no matter how good your model is.\r\nRead More: What Is Machine Learning? Breaking It Down for Everyone\r\nModel and Training\r\nThe model is basically the mathematical formula or the process of how the features are to be calculated and transformed into a prediction.\r\nWhen data is collected and refined, it is then given to a model for training. Upon receiving the data, the model makes an initial guess, calculates errors against the true labels, and adjusts its internal settings.\r\nIn this way, a model gradually learns the correct relationship between features and labels to produce a trustworthy outcome.\r\nEvaluating and Inference\r\nFinally, when the training period is completed, after millions, or in some cases even billions, of individual calculations to learn properly, a model goes through its evaluation in a testing phase.\r\nAn independent, unseen labeled dataset is used for testing the performance to ensure the model can handle new data accurately.\r\nIf the results are not satisfactory, more training and evaluating follow before deploying the model for real-world application.\r\nOnce the model is installed for practical use to predict new unlabeled data, it is called inference.\r\nEditorial Note:\r\nThe views and insights in this article are the author’s own original write-up, developed through research and study of Google’s Machine Learning course, AI tools, and Google Search.\r\nReference\r\n# https://developers.google.com/machine-learning/intro-to-ml/supervised\r\n"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f8d66c71b72a1e6009eb759442b3046dc995461f5357554d553fb54e1936433"
  }
}
